<!DOCTYPE html>
<html>
  <head>
    <title>ChatChit</title>
    <!-- link css files here -->
    <link rel="stylesheet" href="/public/css/colors.css" type="text/css" />
    <link
      rel="stylesheet"
      href="/public/css/CommonStyles.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="/public/css/WelcomePage.css"
      type="text/css"
    />

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
  </head>
  <body class="bg-Blue font Navy">
    <div class="container-fluid h-100">
      <div class="row bg-image h-100 pt-3">
        <div class="col-1"></div>
        <div class="col-4 font-size-100 font-weight-bold">
          <div class="Orange">Chat</div>
          <div class="Yellow pl-5 ml-5">Chit</div>
        </div>
        <div class="col-6 text-right pt-5">
          <h1>Welcome!</h1>
          <h3 class="pt-3">Let's study together,</h3>
          <h5 class="pt-2 font-italic">
            A website for finding someone to study with.
          </h5>
          <br />
          <br />
          <br />
          <a
            href="/select"
            class="btn btn-light btn-change rounded-pill px-5 font-size-20"
            role="button"
            aria-pressed="true"
            >Start</a
          >
        </div>
      </div>
      <div class="row text-center font-size-40 py-5 my-5">
        <div class="col-6">if you ever feel alone,</div>
        <div class="col-7"></div>
        <div class="col-8">if you want to meet new people,</div>
        <div class="col-5"></div>
        <div class="col-1">...</div>
        <div class="col">
          <span class="Orange">Chat</span><span class="Yellow">Chit</span> is
          here for you
        </div>
      </div>
      <div class="row py-5 font-size-40">
        <div class="col-6">
          <div
            class="row text-decoration-underline h-100 justify-content-center"
          >
            01
          </div>
          <div class="row font-italic h-100 justify-content-center">
            Fill in your information
          </div>
          <div class="row h-100 justify-content-center w-100">
            <img src="/public/images/StartPage.png" class="img-fluid" alt="Responsive image"/>
          </div>
        </div>
        <div class="col-6">
          <div
            class="row text-decoration-underline h-100 justify-content-center"
          >
            02
          </div>
          <div class="row font-italic h-100 justify-content-center">
            Start studying with a new friend
          </div>
          <div class="row h-100 justify-content-center w-100">
            <img src="/public/images/MainPage.png" class="img-fluid" alt="Responsive image"/>
          </div>
        </div>
      </div>
      <br>
      <div class="row py-5">
        <div class="col-12 text-center font-size-100">Our team</div>
        <div class="col-6 font-size-40">
          <div class="row"><img src="" alt="" /></div>
          <div class="row h-100 justify-content-center">Di Huynh</div>
        </div>
        <div class="col-6 font-size-40">
          <div class="row"><img src="" alt="" /></div>
          <div class="row h-100 justify-content-center">Nhi Ly</div>
        </div>
        <div class="col-6 font-size-40">
          <div class="row"><img src="" alt="" /></div>
          <div class="row h-100 justify-content-center">Nam Dang</div>
        </div>
        <div class="col-6 font-size-40">
          <div class="row"><img src="" alt="" /></div>
          <div class="row h-100 justify-content-center">Khoi Ngo</div>
        </div>
      </div>
    </div>

    <script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
