.Navy {
    color:#404664;
}

.bg-Navy {
    background-color: #404664;
}

.Blue {
    color: #8BA6BC;
}

.bg-Blue {
    background-color: #8BA6BC;
}

.Yellow {
    color: #F8BC00;
}

.bg-Yellow {
    background-color: #F8BC00;
}

.Orange {
    color: #DA7B08;
}

.Brown {
    color: #69302C;
}